<mat-drawer-container class="nav-container" autosize="">
  <mat-drawer #drawer class="sidenav" mode="side">
    <div *ngIf="isLogged">
      <div
        class="logo-toolbar p-2"
        style="justify-content: center; text-align: center"
      >
        <img src="../assets/img/logo1.png" style="width: 150px; height: auto" />
      </div>

      <mat-divider class="mt-4"></mat-divider>

      <mat-accordion>
        <mat-expansion-panel *ngFor="let modulo of modulos">
          <mat-expansion-panel-header>
            <mat-panel-description> 
              {{modulo}} 
            </mat-panel-description>
          </mat-expansion-panel-header>
          <!-- <mat-panel-description> -->
            <!-- {{modulo}} -->
            <div *ngFor="let permiso of permisos">
              <a mat-button color="primary" *ngIf="permiso.nombre_grupo == modulo" routerLink="{{ permiso.url | lowercase}}">
                {{permiso.rol}}
              </a>
            </div>
          <!-- </mat-panel-description> -->
        </mat-expansion-panel>
      </mat-accordion>
      
      <!-- <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-description> Colaboradores </mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            <a mat-button color="primary">Colaboradores permanentes</a>
          </div>
          <div>
            <a mat-button color="primary">Colaboradores administrativos outsourcing</a>
          </div>
          <div>
            <a mat-button color="primary">Colaboradores administrativos OPS</a>
          </div>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-description> Contratos </mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            <a mat-button color="primary">Contratos por vencer</a>
          </div>
          <div>
            <a mat-button color="primary">Contratos por renovar</a>
          </div>
          <div>
            <a mat-button color="primary">Contratos permanentes temporal</a>
          </div>
          <div>
            <a mat-button color="primary">Contratos permanentes</a>
          </div>
          <div>
            <a mat-button color="primary">Base de colaboradores</a>
          </div>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-description> RRHH </mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            <a mat-button color="primary">Fecha ingreso > 3 meses</a>
          </div>
          <div>
            <a mat-button color="primary">Exportar informacion Odoo</a>
          </div>
          <div>
            <a mat-button color="primary">Cumpleañeros</a>
          </div>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-description> Mantenimientos </mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            <a mat-button color="primary">Proyectos</a>
          </div>
          <div>
            <a mat-button color="primary">Carteras</a>
          </div>
          <div>
            <a mat-button color="primary">Areas</a>
          </div>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-description> Vacaciones/permisos </mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            <a mat-button color="primary">Vacaciones solicitadas</a>
          </div>
          <div>
            <a mat-button color="primary">Permisos pendientes</a>
          </div>
          <div>
            <a mat-button color="primary">Permisos Otorgados</a>
          </div>
        </mat-expansion-panel>
      </mat-accordion> -->
    </div>
  </mat-drawer>

  <div class="sidenav-content">
    <mat-toolbar class="bgops-indigo txtwhite barra-tareas">
      <button mat-icon-button *ngIf="isLogged" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <a routerLink="./inicio" mat-button class="txtwhite">{{ title }}</a>

      <span class="barra-tareas-separador"></span>

      <button mat-button [matMenuTriggerFor]="menu" *ngIf="isLogged">
        {{ username }}
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/perfil-usuario">Perfil</button>
        <button mat-menu-item>Cerrar Sesion</button>
      </mat-menu>

      <button
        *ngIf="isLogged"
        mat-icon-button
        class="txtops-chartreuse"
      ></button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
